{{email-input email=credentials.email}}
{{password-input password=credentials.password}}

<button type="submit" class="btn full-size-buttons btn-primary" {{action "submit"}}>
  Sign In
</button>

<button class="btn full-size-buttons" {{action "reset"}}>
  Cancel
</button>
