$main-green600: #00897B;
$blue-800: #1565C0;
$green-500: #4CAF50;
$soft-gray: #F5F5F5;
$secondary-green700: #00796B;

body.ember-application{
  background-color: $soft-gray;
}

div#index-welcome{
  background-color: $main-green600;
}
.record-list {
  div.show-record-pills {
    background-color: $main-green600;
  }
  div.show-record-pills:hover{
    background-color: $blue-800;
  }
  li {
    color: white;
  }
}
.new-entry-button{
  background-color: $green-500;
}

.record-details{
  .date h5,
  .symptom h5,
  .details h5 {
    background-color: $main-green600;
    color: white;
  }
}

nav#main-navbar{
  background-color: $main-green600;
  #navigation li a{
    color: white;
  }
  a:hover,
  a:visited
  a:active{
    background-color: transparent;
  }
}

div#welcome-index
  h2,
  h4{
  color: white;
}



#index{
  background-color: black;
}
