$blue-600: #1E88E5;
$blue-800: #1565C0;
$green-500: #4CAF50;



div#index-welcome{
  background-color: $blue-600;
}
.record-list {
  div.show-record-pills {
    background-color: $blue-600;
  }
  div.show-record-pills:hover{
    background-color: $blue-800;
  }
  li {
    color: white;
  }
}
.new-entry-button{
  background-color: $green-500;
}

.record-details{
  .date h5,
  .symptom h5,
  .details h5 {
    background-color: $blue-600;
    color: white;
  }
}

nav#main-navbar{
  background-color: $blue-600;
  #navigation li a{
    color: white;
  }
  a:hover,
  a:visited
  a:active{
    background-color: transparent;
  }
}

div#welcome-index
  h2,
  h4{
  color: white;
}



#index{
  background-color: black;
}
