body.ember-application, html{
  padding: 0;
  margin: 0;
}

.center{
  text-align: center;
}
.full-size-buttons{
  margin-top: 25px;
  height: 45px;
  width: 80%;
  border-radius: 15px;
}

.record-list {
  div.show-record-pills {
    border-radius: 15px;
    margin: 10px auto;
    height: 50px;
    // position: relative;
    padding-top: 15px;
    padding-bottom: 15px;
  }
  div.show-record-page{
    padding-bottom: 150px;
    padding-left: 20px;
    padding-right: 20px;
  }
}

.new-entry-button{
  position: fixed;
  padding-top: 20px;
  border-radius: 25px;
  left: 5%;
  bottom: 50px;
  z-index: 5;
  width: 90%;
  height: 60px;
  box-shadow: 0 0 6px rgba(0,0,0,0.2), 0px 5px 6px
}

.record-details{
  padding-bottom: 150px;
  .date h5,
  .symptom h5,
  .details h5 {
    padding: 5px 5px;
    margin: 0 auto;
    border-radius: 15px;
    width: 35%;
  }
  h3{
    margin-top: 0;
    margin-bottom: 15px;
    padding: 10px;
  }
}

.delete-entry-button{
  border-radius: 100%;
  height: 35px;
  width: 35px;
}

nav#main-navbar{
  width: 100%;
  border-radius: 0;
  box-shadow: 0 0px 0px rgba(0,0,0,0.2), 0px 5px 6px
}

input#symptom,
input#date,
input#details{
  margin-bottom: 1px;
}

.app-name{
  color: white;
}

.your-record{
  margin-top: 25px;
}
