body.ember-application,
.my-application-outlet,
html{
  font-family: 'Roboto Condensed', sans-serif;
}

li{
  list-style: none;
}

.record-list {
  li {
    font-size: 1.2em;
  }
  a:hover {
    text-decoration: none;
  }
}
.new-entry-button{
  p{
    color: white;
    font-weight: bolder;
    font-size: 1.5em;
  }
}
.your-record{
  font-weight: bold;
}

.record-details{
  h3{
    font-size: 1.5em;
  }
}
