body.ember-application,
.my-application-outlet,
html{
  font-family: 'Roboto Condensed', sans-serif;
}

li{
  list-style: none;
}

.record-list {
  li {
    font-size: 1.2em;
  }
  li:hover,
  li:visited,
  li:clicked {
    text-decoration: none;
  }
}
.new-entry-button{
  .add-button-icon{
    top: 5px;
    margin: 0 auto;
    color: white;
    font-weight: bolder;
    font-size: 2em;
  }
}
.your-record{
  font-weight: bold;
}

.record-details{
  h3{
    font-size: 1.5em;
  }
}
.navbar-brand{
  font-size: 2.3em;
}
#link-to-sign-up.full-size-buttons > a{
  color: white;
}


.new-record{
  margin-top: 20px;
  font-size: 2em;
}

#go-to-records > a{
  font-size: 3em;
  margin: 0 auto;
  left: 0;
  right: 0;
  color: white;
}
#go-to-records a:hover{
  text-decoration: none;
}
#index-welcome > h2 {
  margin-top: 50px;
}

#records.link-to-record {
  font-size: 2em;
  color: white;
}
.link-to-record > a:hover{
  text-decoration: none;
  background-color: inherit;
}
