<nav id="main-navbar" class="navbar">
  <div class="container-fluid">
    {{navbar-header}}

    <div class="collapse navbar-collapse" id="navigation">
      <ul class="nav navbar-nav">
        {{#if isAuthenticated}}
        <li>{{#link-to "record"}}Your Record{{/link-to}}</li>
        {{/if}}
      </ul>
      <ul class="nav navbar-nav navbar-right">
        {{#if isAuthenticated}}
        <li>{{#link-to "change-password"}}Change Password{{/link-to}}</li>
        <li><a href="#" {{action "signOut"}}>Sign Out</a></li>
        {{else}}
        <li>{{#link-to "sign-up"}}Sign Up{{/link-to}}</li>
        <li>{{#link-to "sign-in"}}Sign In{{/link-to}}</li>
        {{/if}}
      </ul>
    </div>
  </div>
</nav>

<div class="my-application-outlet col-md-8 col-md-offset-2">
  {{outlet}}
</div>

<div class="new-entry-button-container container">
{{#if isAuthenticated}}
    {{#link-to 'new-entry'}}<div class="new-entry-button"><p>Add</p></div>{{/link-to}}
{{/if}}
</div>
