<h2 class="options-page">Settings</h2>
<hr>
{{change-password-form}}

<button id="sign-out" class="btn full-size-buttons btn-danger" type="button" name="button" {{action "signOut"}}>Sign Out</button>
