<div id="index-welcome" class="center-text jumbotron container">
  <h2>Welcome to BioTrackr!</h2>
  <h4>Sign up to start keeping track of your health</h4>
</div>

{{!-- <div id="go-to-records">
{{#link-to 'record'}}Your Record{{/link-to}}
</div> --}}







{{#if isAuthenticated}}
  {{add-button}}
{{/if}}
