<div class="show-record-page">
{{#each records as |entry|}}

  {{#link-to 'record-entry' entry}}
    <div class="show-record-pills">
      <li>{{entry.symptom}}</li>
        <hr class="entry-line">
        <p class='entry-details'>
          {{entry.details}}
        </p>
    </div>
  {{/link-to}}

{{/each}}

{{yield}}
</div>
