<h3>Please sign in</h3>

{{sign-in-form submit="signIn" reset="reset"}}


<button id="link-to-sign-up" class="btn full-size-buttons" type="button" name="button">{{#link-to 'sign-up'}}Sign Up{{/link-to}}</button>
