<div class="record-flash-message">
{{#each flashMessages.queue as |flash|}}
  {{flash-message flash=flash}}
{{/each}}
</div>

<h2 class="your-record">Your Record</h2>
<hr>
{{biotrackr-record records=model}}
