{{details-input details=entryParams.details}}

<button type="submit" class="full-size-buttons btn btn-primary" {{action "submit"}}>
  Submit
</button>

<button class="full-size-buttons btn" {{action "reset"}}>
  Cancel
</button>
