{{input type="details"
        id="details"
        placeholder="Details"
        value=patchParams.details}}

<button type="submit" class="full-size-buttons btn btn-primary" {{action "submit"}}>
  submit
</button>

<button class="full-size-buttons btn btn-default" {{action "reset"}}>
  Cancel
</button>
